.kal{
    width: 150px;
    height: 190px;
    display: block;
    margin: 80px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

button{
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}

h1{
    text-align: center;
}

