body{
    background-color: blue;
}

.kal{
    width: 350px;
    height: 550px;
    border: 1px solid yellow;
    border-radius: 10px;
    background-color: yellow;
    padding: 10px;
    margin: 80px auto;
}

h1{
    text-align: center;
    color: blue;
}

.FormInput{
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    width: 94%;
    display: block;
    border: none;
}

.FormSelect{
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
    display: block;
    border: none;
    font-weight: bold;
}

.FormHasil{
    padding: 30px 10px;
    border-radius: 5px;
    font-size: 30px;
    width: 94%;
    display: block;
    border: none;
    margin-top: 10px;
}

button{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    background-color: blue;
    color: yellow;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

a{
    color: yellow;
}

p{
    font-weight: bold;
    color: blue;
    margin-bottom: 10px;
}